body {
  display: inline-flex;
  margin: 0;
  font: 14px 'Righteous', cursive;
  width: 100%;
  justify-content: flex-end;
  /* font: 14px 'Fredoka One', cursive; */
}

.playlists {
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

.playlist {
  display: inline-flex;
  justify-content: space-between;
  width: 300px;
  padding: 8px;
  background: rebeccapurple;
  color: white;
}

.playlist img {
  width: 100px;
}

.playlist .playlist-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.playlist-text h4, .playlist-text p {
  margin: 0;
}

.playlist-text a {
  color: inherit;
}