body {
  margin: 0;
  font: 14px 'Fredoka One', cursive;
}

ul {
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

/* font-family: 'Righteous', cursive; */

li {
  display: inline-flex;
  width: 300px;
  justify-content: space-between;
  padding: 8px;
  background: rebeccapurple;
  color: white;
}

li img {
  width: 100px;
}

div {
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

h4, p {
  margin: 0;
}

a {
  color: inherit;
}
